{deps,
 [
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
  {proper_stdlib, ".*", {git, "https://github.com/spawngrid/proper_stdlib.git", {branch, "master"}}}
]}.
{lib_dirs, ["deps"]}.
{pre_hooks, [{compile, "rm -f ebin/mimetypes_map.beam"}]}.
{post_hooks, [{compile, "erl -pa ebin -eval 'application:start(mimetypes), application:stop(mimetypes), erlang:halt()' -noshell"},
              {compile, "erl -pa ebin -eval '{ok, [T]} = file:consult(\"ebin/mimetypes.app\"), {application, mimetypes, PL} = T, Modules = [mimetypes:module()|proplists:get_value(modules, PL)],  {ok, F} = file:open(\"ebin/mimetypes.app\",[write]), io:format(F, \"~s.\n\", [io_lib_pretty:print({application, mimetypes, lists:keyreplace(modules, 1, PL, {modules, Modules})})]), file:close(F), erlang:halt()' -noshell"}]}.

