%% vim: ts=2 sw=2 et ft=erlang
{deps,
 [
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
  {proper_stdlib, ".*", {git, "https://github.com/spawngrid/proper_stdlib.git", {branch, "master"}}}
]}.
{lib_dirs, ["deps"]}.
{post_hooks,
 [
	{"(linux|bsd|darwin|solaris)", compile, "./post_compile.escript"},
	{"win32", compile, "escript.exe post_compile.escript"}
]}.
