{profiles, [
    {test, [
        {deps, [
            {proper, "1.2.0"}
        ]},

        {xref_checks, [
            undefined_function_calls,
            locals_not_used,
            deprecated_function_calls
        ]},

        {xref_ignores, [
            {mimetypes_parse, return_error, 2},
            {mimetypes_map, ext_to_mimes, 1},
            {mimetypes_map, exts, 0},
            {mimetypes_map, mimes, 0},
            {mimetypes_map, mimes, 1},
            {mimetypes_map, module_info, 0},
            {mimetypes_map, mime_to_exts, 1},
            {mimetypes_map, modules, 0},

            {mimetypes_disp, ext_to_mimes, 2},
            {mimetypes_disp, exts, 1},
            {mimetypes_disp, mime_to_exts, 2},
            {mimetypes_disp, mimes, 1},
            {mimetypes_disp, modules, 0}
        ]},

        {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]}
    ]}
]}.
